<!DOCTYPE html>
<html lang="en">
<head>
   <div th:replace="fragment :: risorse"></div>
   
    <title>Le nostre pizze</title>
</head>
<body  style="background-color: #ceced7;">
    <div th:replace="fragment :: nav(ingrediente)"></div>
    
    <div class="container">
    
    	<a class="btn btn-dark my-5" th:href="@{/ingrediente/edit}">Aggiungi un nuovo Ingrediente</a>
    	<div th:if="${#lists.isEmpty(IngredienteList)}">
    	<h1>Mi dispiace ma la lista è vuota!</h1>
    	</div>
        
      
      <th:block th:if="${successMessage != null && successMessage != ''}">
  		<div  class="alert alert-success" th:text="${successMessage}"></div>
  	</th:block>
      <div th:unless="${#lists.isEmpty(IngredienteList)}">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="table-dark">Nome ingrediente</th>
              <th scope="col" class="table-dark">Azione</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="ing : ${IngredienteList} ">
              <td class="table-success" th:text="${ing.getNome()}"></td>
              <td class="table-info">
              <a class="btn btn-primary d-block mb-3" title="Modifica" th:href="@{|/ingrediente/update/${ing.getId()}|}"><i class="fa-solid fa-pencil"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
    <div th:replace="fragment :: footer"> </div>
</body>
</html>